@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap');

body {
	background-color: #f8fafc;
	font-family: 'Baloo 2', system-ui, -apple-system, sans-serif;
}
